<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Cy-Botanics</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="styles.css" />
  <!-- Bootstrap -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <!-- <a href="https://www.flaticon.com/free-icons/pixel" title="pixel icons"
  >Pixel icons created by Dooder - Flaticon</a
> -->
  <link rel="icon" href="favicon.png" />

  <div id="menu-dropdown" class="dropdown">
    <a
      class="btn btn-dark dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Actions
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="/">Return Home</a></li>
      <li>
        <a class="dropdown-item" href="/workshop">Go to Workshop</a>
      </li>
      <li>
        <a class="dropdown-item" href="/garden">Visit the Garden</a>
      </li>
      <li><a class="dropdown-item" href="/action">Take Action</a></li>
      <li><a class="dropdown-item" href="/design">See Idea Gallery</a></li>
      <li><a class="dropdown-item" href="/about">Our Philosophy</a></li>
    </ul>
  </div>
</head>
