<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body class="about">
    <div class="outer-container">
      <div class="text-container">
        <h1 style="color: white; margin-bottom: 15px">Our Philosophy</h1>
        <div class="text-block">
          <div>
            <strong
              >This project is an exercise in rethinking the relationship
              between nature, technology and humans.
            </strong>
          </div>
          <br />
          <div>
            Three main components of our reimagination: the boundary between
            nature and technology, the web of social and material relations
            created through the design of technology, and the meaning of design
            itself in relation to solution. Each component can be reflected as a
            layer of circulation.
          </div>
          <br />
          <div>
            This project primarily arose out of a concern over the proliferation
            of e-waste, compounded with its invisibility, and the desire to
            subvert assumptions we have about the technology we interact with
            every day. In our workshop, we reimagine the material architecture
            of a more sustainable computer, based on existing research in
            biodegradable materials, synthetic biology, and plant and fungal
            computing. These computer components, acting as half speculation and
            half science, imagine a circulation of materials between the natural
            and technological worlds, queering the traditional boundaries
            between nature and technology.
          </div>
          <br />
          <div>
            But we really hope to make visible, by (in some way) making strange
            (through speculation), the material architecture of computing
            technologies.
          </div>
          <br />
          <div>
            We hope that through this simple exercise of speculating a
            bio-inspired, sustainable computer, visitors to our workshop and
            garden... With the advent of biotechnology, we are standing at the
            cusp of a radically new relationship with nature. The boundaries
            between what’s natural and what’s artificial or technological, are
            becoming increasingly blurred.
          </div>
        </div>
      </div>
      <div class="text-container" style="padding-top: 0px">
        <h1 style="color: white; margin-bottom: 15px">Acknowledgments</h1>
        <div class="text-block">
          <div>
            Team Members: Shannon Heh, Aleeza Schoenberg, Wendi Yan, Lydia You
          </div>
          <div>
            Advised by Dr. Janet Vertesi in the Princeton University course,
            SOC/COS409: Critical Approaches to Human Computer Interaction
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/scripts'); %>
  </body>
</html>
