<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body class="about">
    <div class="outer-container">
      <div class="text-container">
        <h1 style="color: white; margin-bottom: 15px">Our Philosophy</h1>
        <div class="text-block">
          <div>
            Plant computing, or integrating elements of nature into technology,
            has great potential to subvert traditional assumptions of technology
            and make users more cognizant of sustainable alternatives for
            computing. Here we present Cy-Botanics, a multi-part project for
            speculating on "plant-based computers". The project consists of both
            a web-based game (what you're doing!) as well as an in-person design
            workshop (see the <a href="/design">Idea Gallery</a>).
          </div>
          <br />
          <div>
            <strong
              >Above all, this project is an exercise in rethinking the
              relationship between nature, technology and humans.
            </strong>
          </div>
          <br />
          <div>
            Our reimagination exercise includes three main components: the
            material and ontological boundary between nature and technology, the
            web of social and material relations created through the design of
            technology, and the meaning of design itself in relation to
            solution. Each component can be reflected as a layer of circulation.
          </div>
          <br />
          <div>
            Circulation of materials between “nature” and “technology”: Our
            project of imagining sustainable computing began with subverting the
            material assumptions of what becomes of or gets turned into
            technology. In thinking beyond silicon, metal and plastic as the
            basic material makeup of a computer, we imagine using biodegradable
            materials for the hardware, utilizing the computing power of slime
            molds and mycelium for circuits, encoding information into DNA, and
            asking plants to act as motion sensors. Step by step, we blur the
            boundaries of what is considered to be “nature” and “technology.”
          </div>
          <br />
          <div>
            Circulation of gifts: We then move to the social circulation of
            gifts. Participants of this workshop are not given money, nor do
            they purchase the biocomputing components we present. Instead, the
            objects are given as gifts, in exchange for new design ideas.
            Redesigning the material makeup of a computer alone does not solve
            the problem of sustainability. As researchers, designers and
            builders, we recognize and foreground the importance of the network
            relations amongst materials and living beings that are generated in
            our design. This layer of circulation invites a rethinking of
            ownership and value. It is a small experimentation of the gift
            economy and imagination of what technology could look like without
            capitalism.
          </div>
          <br />
          <div>
            Circulation of ideas in design: We open up the design process
            through framing design ideas as gifts. In our application of the
            gift economy, design ideas are circulated as the gifts that
            facilitate reciprocal relationships. Ideas are gifts because they
            increase value as they are passed down, and we consider them to be
            of higher value than the ideas our project presents. Instead of
            providing solutions as the ending point to a question or a problem,
            our project presents design ideas as a prompt and an invitation. We
            believe that design does not end with the “finishing” or the
            physical “enclosing” of an object, but is a continuous process of
            negotiation and adaptation. Through inviting participants to
            contribute their ideas and imaginations of sustainable computing, as
            gifts to our virtual workshop, we cut open the loop of the usual
            design process, and encourage the circulation of design ideas as a
            way of increasing the greater values of the gift economy.
          </div>
          <br />
          <div>
            This project primarily arose out of a concern over the proliferation
            of e-waste, compounded with its invisibility, and the desire to
            subvert assumptions we have about the technology we interact with
            every day. In our workshop, we reimagine the material architecture
            of a more sustainable computer, based on existing research in
            biodegradable materials, synthetic biology, and plant and fungal
            computing. These computer components, acting as half speculation and
            half science, imagine a circulation of materials between the natural
            and technological worlds, queering the traditional boundaries
            between nature and technology.
          </div>
        </div>
      </div>
      <div class="text-container" style="padding-top: 0px">
        <h1 style="color: white; margin-bottom: 15px">Acknowledgments</h1>
        <div class="text-block">
          <div>
            Team Members: Shannon Heh, Aleeza Schoenberg, Wendi Yan, Lydia You
          </div>
          <div>
            Advised by Dr. Janet Vertesi in the Princeton University course,
            SOC/COS409: Critical Approaches to Human Computer Interaction
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/scripts'); %>
  </body>
</html>
