<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body class="garden">
    <div id="garden-wrapper">
      <center><h1>The Garden</h1></center>
      <button id="scroll-btn" type="button" class="btn btn-primary">
        Start Scroll
      </button>
      <button id="show-gift-input-btn" type="button" class="btn btn-dark">
        Give A Gift
      </button>
      <button
        id="finish-game-btn"
        type="button"
        class="btn btn-dark"
        hidden="hidden"
      >
        Finish the Game
      </button>
      <div class="container">
        <div class="row" style="width: 100%; text-align: center">
          <div class="col-2"></div>
          <div class="col-8" id="gifts-col">
            <div id="garden-container" style="width: 100%">
              <% gifts.forEach(function(gift) { %>
              <div class="card gift-card my-2">
                <div class="card-body">
                  <p><%= gift.gift %></p>
                  <p class="fst-italic"><%= gift.name %></p>
                </div>
              </div>
              <% }); %>
              <div id="end-gifts"></div>
              <div id="give-gift-wrapper" class="mb-3" hidden="hidden">
                <div class="card">
                  <div class="card-body">
                    <label for="gift-textarea" class="form-label"
                      ><strong>Give a Gift!</strong> We invite you to speculate
                      on the future of computing.</label
                    >
                    <div style="position: relative">
                      <textarea
                        id="give-gift-input"
                        class="form-control"
                        id="gift-textarea"
                        rows="3"
                        style="resize: none"
                      ></textarea>
                      <button
                        id="give-gift-btn"
                        class="btn btn-primary"
                        type="button"
                      >
                        Give Gift
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

      <div id="gift-toast-container" class="toast-container">
        <div
          id="gift-toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          class="toast"
        >
          <div class="toast-header">
            <p class="toast-text mr-auto"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Intro pop-up -->
    <div id="garden-intro" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Welcome to the Garden!</h5>
          </div>
          <div class="modal-body">
            <p>Introduce the garden.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/scripts'); %>
  </body>
</html>
