<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div id="home-container">
      <h1 style="color: rgb(43, 130, 19)">Welcome!</h1>
      <form id="username-form">
        <div id="username-input-group" class="input-group mb-0">
          <input
            type="username"
            class="form-control"
            id="username-input"
            placeholder="Enter a username"
          />
          <div class="input-group-append">
            <button id="username-btn" class="btn btn-primary" type="button">
              Submit
            </button>
          </div>
        </div>
        <div id="username-error" class="form-text"></div>
      </form>
    </div>
    <%- include('partials/scripts'); %>
  </body>
</html>
