html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* GARDEN PAGE */
#garden-wrapper {
  height: 100%;
  overflow: auto;
}

#scroll-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

#garden-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

#garden-container .gift-card {
  background-color: rgb(255 255 255 / 0.8);
}

.gift-card {
  width: 80%;
}

.gift-card .card-body p {
  margin: 0;
}

#give-gift-wrapper {
  position: absolute;
  bottom: 10px;
  width: 50%;
}

#give-gift-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#gift-toast-container {
  position: absolute;
  top: 145px;
  right: 10px;
  z-index: 150;
}

#gift-toast,
#gift-toast .toast-header {
  background-color: #198754;
}

#gift-toast .toast-header p {
  color: black;
  margin: auto;
}

#home-container {
  display: flex;
  max-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#username-form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

#finish-game-btn,
#workshop-gift-btn,
#show-gift-input-btn {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 160px;
  z-index: 90;
}

#finish-game-btn {
  top: 100px;
}

/* DRAGGABLE STYLING HERE */

#workshop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.category-container.drag-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container {
  display: flex;
  flex-direction: row;
}

#workshop-table {
  height: 60%;
  width: 700px;
}

.category-modal-container {
  display: flex;
}

.dropzone {
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  background-color: white;
  display: inline-block;
  min-width: 40px;
  padding: 0.5em 0.5em;
  margin: 1rem 0 0 1rem;
  border: solid 2px black;
  touch-action: none;
  transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  background: transparent;
  color: white;
  border: solid 2px white;
}

/* MENU DROPDOWN */
#menu-dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

#menu-dropdown .btn {
  width: 160px;
}

/* BACKGROUND IMAGES */
body.workshop,
body.garden {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.workshop {
  background: url("Workshop.png") no-repeat center center fixed;
}

body.garden {
  background: url("Garden.png") no-repeat center center fixed;
}

.btn-primary {
  border-color: #198754 !important;
  background-color: #198754 !important;
}
